@{
    ViewBag.Title = "About Us";
}

<div class="headingm"><h3>@ViewBag.Title</h3></div>
<div class="row servic">
            <div class="subheadcleft"><h4>About us:</h4></div>
    <div class="col-xs-12 aboutcont">
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
         vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
         vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        
         </div>
    <hr>
        <div class="row">
        
            <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="newsborder">
<div class="media ">
  <div class="pull-left">
    <a href="#">
        @Html.ActionLink(
    " ", 
    "our_people", 
    "Home",  
    null , 
    new { 
        @class = "mylink" 
    }
)
      @*<img class="media-object" src="~/Cimage/our-history.jpg" alt="history" style="height:100px" width:"100px">*@
    </a>
  </div>
    <div class="media-body">
    <h4 class="media-heading subsubtitle">Our People</h4>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        </p>
  </div>
</div>
    </div>
        </div>

            <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="newsborder">
<div class="media ">
  <div class="pull-left">
    <a href="#">
        @Html.ActionLink(
    " ", 
    "History", 
    "Home",  
    null , 
    new { 
        @class = "mylink1" 
    }
)
      @*<img class="media-object" src="~/Cimage/our-history.jpg" alt="history" style="height:100px" width:"100px">*@
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading subsubtitle">History</h4>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        </p>
  </div>
</div>
    </div>
        </div>
       
             <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="newsborder">
<div class="media ">
  <div class="pull-left">
        @Html.ActionLink(
    " ", 
    "Service", 
    "Home",  
    null , 
    new { 
        @class = "mylink2" 
    }
)
              @*<img class="media-object" src="~/Cimage/Service_times.jpg" alt="worship" style="height:100px" width:"100px">*@
    
  </div>
  <div class="media-body">
    <h4 class="media-heading subsubtitle">Worship </h4>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        </p>
  </div>
</div>
    </div></div>
    </div>
    
    </div>