@{
    ViewBag.Title = "Activities";
}

<div class="headingm"><h3>@ViewBag.Title</h3></div>

<div class="row activit">
                <div class="subheadcleft"><h4>Our Activities:</h4></div>

    <ul>
        <li>RCIA</li>
        <li>Baptism Team</li>
        <li>Sacramental Team</li>
        <li>Marriage Preparation Team</li>
        <li>Bereavement Team</li>
        <li>Catholic Women's League</li>
        <li>Young People's Mass</li>
        <li>Legion of Mary</li>
        <li>Playgroup</li>
        <li>Youth Group</li>
        <li>SRE</li>
        <li>Children's Liturgy</li>
    </ul>
    </div>












