@{
    ViewBag.Title = "Contact Us";
}

<div class="headingm"><h3>@ViewBag.Title</h3></div>


<div class="row">
    <div class="col-xs-12 col-lg-6 contactleft">
        <div class="subheadcleft"><h4>Contact us:</h4></div>
<address>
  <strong>Address</strong><br>
  CNR New England Hwy & King St,<br>
  East Maitland, 2323<br>
  </address>

<address>
            <strong>Phone</strong><br />
               (02) 4933 8918<br>
             <strong>Fax</strong><br />
              (02) 4934 1227

</address>

<address>
  <strong>Postal Address</strong><br>
  PO Box 215,<br>
  Maitland, 2320
  
</address>

<address>
  <strong>Office Hours:</strong><br>
    Tues to Fri, 9am-4:30pm<br>
  <strong>Email:</strong><br>
  <a href="mailto:#">chisholm@mn.catholic.org.au</a>
</address>

        
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="cmap">
                    <div class="subheadcleft"><h4></h4></div>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3355.5638739041815!2d151.5850058!3d-32.7507695!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b7346a1c70d0c41%3A0x8ccde7d3664f6fa4!2sNew+England+Hwy+%26+King+St%2C+East+Maitland+NSW+2323!5e0!3m2!1sen!2sau!4v1425009234622"
                                     width="370"  height="400"  style="border:0"></iframe>
                     
</div>
    </div>

</div>
