@{
    ViewBag.Title = "History";
}

<div class="headingm"><h3>@ViewBag.Title</h3></div>
<div class="newsborder">
<div class="media histalign">
  <div class="pull-left histimg">
    <a href="#">
      <img class="media-object histimgin" src="~/Cimage/wwa.jpg" alt="hist" >
    </a>
  </div>
 
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
         vulputate fringilla. Donec lacinia congue felis in faucibus.
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
         vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
         vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
       <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
         vulputate fringilla. Donec lacinia congue felis in faucibus.
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. 
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
         vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
 </div>
</div>
 
