@{
    ViewBag.Title = "Our people";
}

<div class="headingm"><h3>@ViewBag.Title</h3></div>
<div class="row servic">
    <div class="clergyhd"><h4>Clergy</h4></div>

<address>
  The Very Reverend Paul O'Neill, <strong>Moderator</strong><br />
  The Reverend Derek Garner, <strong>Assistant Priest</strong><br />
  The Reverend Peter Street, <strong>Assistant Priest</strong>
</address>
   
     <hr />
    
    <div class="clergyhd"><h4>Staffs</h4></div>

<address>
 Sr Maureen Rigby OP (Co-ordinator, Spiritual Care of Sick & Aged)<br />
 Irene Dixon (Co-ordinator, Dying, Bereaved & Funeral Ministry)<br />
 Stefanie Lloyd (Activ8 Coordinator)<br />
 Sam Hill (Youth Groups Coordinator)<br />
 Louise Gilchrist (Finance & Administration)<br />
 Rita King (Communications & Administration)<br />
 Janine Sidoti (Reception & Administration)
</address>




    </div>