@{
    ViewBag.Title = "Services";
}

<div class="headingm"><h3>@ViewBag.Title</h3></div>

<div class="row servic">
            <div class="subheadcleft"><h4>Regular Masses:</h4></div>

<address>
  <strong>Tuesday</strong><br>
    7:00 PM<br>
    11:00 AM (3rd Tuesday of month - Anointing Mass Therry Centre)<br>
</address>
<address>
  <strong>Thursday</strong><br>
    7:00 PM<br>
</address>
<address>
  <strong>Friday</strong><br>
7:00 PM<br>
10:00 AM (2nd Friday of month - Anointing Mass Greenhills Nursing Home)<br>
</address>
<address>
  <strong>Saturday</strong><br>
8:00 AM (9:00am 1st Saturday of the month)<br>
5:00 PM (Vigil)<br>
</address>
<address>
  <strong>Sunday</strong><br>
8:30 AM<br>
6:00 PM (Chisholm Youth Mass)<br>
</address>
    </div>